@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400');
@import url('https://100dayscss.com/codepen/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,400,300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');
@import url('https://100dayscss.com/codepen/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  },
  .perspective-10 {
    perspective: 1000px;
  },
  .preserve-3d{
    transform-style: preserve-3d;
  }
}

*{
  margin: 0px;
  
}